.rounded-corners {
  border-radius:5px;
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 2px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    border-radius: 50%; 
    background: #17a2b8;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #17a2b8;
    cursor: pointer;
}
.title {
  font-family: 'IM Fell DW Pica', serif;
  font-size:50px;
}

.label {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #c0c2d1;
  text-align: center;
  font-size: 12.5px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.black {
  background-color: black;
}

.gray-border {
  border-color:#c0c2d1;
  border-style:solid;
  border-width: 0.5px;
}

.overflow-hidden {
  overflow: hidden;
}

#image {
  border-style:solid;
  border-radius:5px;
  border-width:0.5px;
  border-color: #c0c2d1;
}

#upload {
  margin-top:15px;
}

.warning-label {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #e8de29;
  text-align: center;
  font-size: 12.5px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
}

.dropdown {
  color: #030303;
  height: 200px;
  width: 85%;
  background-color: #c0c2d1;
}

.hide {
  display: none;
}